.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 95%;
    padding: 20px;
    border-radius: 10px;
}

.input {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background: white;
    padding: 20px 16px 20px 16px;
    color: #475C6D;
    font-size: 18px;

    &::placeholder {
        font-size: 18px;
        line-height: 23px;
        color: #475C6D;
    }
}

.label {
    display: flex;
    position: relative;
    align-items: center;
    width: 95%;
    margin: 0 0 20px 0;
    color: #475C6D;
    font-size: 18px;

    &--checkbox {
        cursor: pointer;
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin: 0 10px 0 0;
    transition: 0.3s;

    &:checked {
        background: #f28b2d;
    }
}

.button {
    border-radius: 23px;
    font-size: 20px;
    padding: 12px 62px 12px 62px;
    border: 1px solid #f28b2d;
    background: transparent;
    color: #f28b2d;
    transition: 0.3s;
    cursor: pointer;
    margin: 20px 0 0 0;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 0.75rem 0 rgba(77, 72, 71, 0.25);
    }
}